.experts{
    padding: 10rem 0;

    .titleBox{
        text-align: center;

        .title{
            @include title;
        }
    }
}

.experts{
    .content{
        margin: 4rem auto 0 auto;
        display: flex;
        justify-content: space-between;
        @include desktop {
            flex-wrap: wrap;
            justify-content: center;
        }

        .box{
            width: 23%;
            @include desktop {
                width: 45%;
                margin: 1rem;
            }
            @include mobile {
                width: 100%;

                .text{
                    text-align: center;
                }
            }

            h3{
                font-weight: 400;
                margin-top: 1.5rem;
            }
        }
    }
}